
body {
    background: #148173;
    font-family: Arial;
}
h1 {
    color: red;
}
/* Tbq7SzXR4v5tr0R226pQivVIr9EL9Fy0saCQ6J8xKluD1FwoI3fOutiTfHUpGpwfKatI1jMCTfVEkOUO30LfrSGlw38rusDP3EIOph9KYrkp4x2B5n9frFJU6ggCFDFsE3TlsLo1ca9G2PRE3O1st8YXQMGXVo8uz47IL0AFudzhgocdjGfJpJVuQeV9XvIZV541RWMr */
